body {
  font-family: georgia,serif;
}

button {
  font-family: georgia,serif;
}

#banner {
  width: 100%;
  background-color: #ff0;
  margin: 0px;
  padding: 0px;
  border-bottom: 4px solid red;
}
#footer {
  margin-top: 20px;
  font-size: 85%;
  color: #999;
}
#footer a {
  color: #999;
}

/* Centering via http://jsfiddle.net/chriscoyier/hJtpF/ */
.block {          /* This parent can be any width and height */
  text-align: center;
}
.block:before {   /* The ghost, nudged to maintain perfect centering */
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}
.centered {       /* The element to be centered, can also be of any width and height */
  display: inline-block;
  vertical-align: middle;
  width: 300px;
}

.lighter {
  color: #999;
}
.smaller {
  font-size: 90%;
}


/* PAGE-SPECIFIC */

#createSecret textarea {
  background-color: #f0f0f0;
  padding: 6px;
}
.btn-custom {
  -webkit-font-smoothing: antialiased;
  background-color: #e33100!important;
  background-repeat: repeat-x;
  background-image: none;
  color: #fff!important;
  border-color: #b04420 #b04420 hsl(15,69%,41%);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.00);
  font-weight: bold;
}
.btn-custom:hover {
  background-color: #d22000 !important;
  text-shadow: 1px 1px 0 #740500;
}
#showMetadata label {
  padding: 0px; margin: 0px;
  font-size: 125%;
}
#showMetadata span {
  margin-top: -5px;
}
#showMetadata .secret-uri {
  border: 0px;
  background-color: #ff0;
  font-weight: bolder;
  font-size: 125%;
  padding-top: 18px;
  padding-bottom: 18px;
}






